<article>
  <header>
    <h1><%= resource.name %></h1>
    <!--<%= resource.date_range.to_s(:condensed) %>-->
    <%= resource.open_at.to_date.to_s(:long) %> – <%= resource.ends_at.to_date.to_s(:long) %>
    <br>
    <%= link_to 'Edit', edit_resource_path(resource) %> |
    <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Back', collection_path %>
  </header>
  
  <div><%= resource.info %></div>
</article>
